<input class="input-search" [(ngModel)]="searchText" placeholder="search name">
<table mat-table [dataSource]="httpService.json | async | filter : searchText : 'name'" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}} ({{element.username}})</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{element.email}}</td>
  </ng-container>
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let element">{{element.postAddress}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr class="row-table" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row.address.geo)"></tr>
</table>
